Introduction

In this project, I want to find out if there is a relationship between how much people earn and how long they live after 65.

I have two datasets:
- One with life expectancy at 65 in different Spanish provinces.
- One with average income in the same provinces and years.

I will use Python and pandas to analyze the data and make some plots to help me see the correlation.

In [11]:
from src.analysis import load_data, prepare_data, compute_correlation
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
life_path = "data/life_expectancy.csv"
income_path = "data/income.csv"

life_df, income_df = load_data(life_path, income_path)

print("Life expectancy data:")
display(life_df.head())

print("\nIncome data:")
display(income_df.head())

Life expectancy data:

  Provincias  Periodo  Total
0   A Coruña     2022  21,35
1   A Coruña     2021   21,4
2   A Coruña     2020  21,52
3   A Coruña     2019   21,7
4   A Coruña     2018  21,11

Income data:

  Provincias  Periodo      Total
0   A Coruña     2022  17.349,00
1   A Coruña     2021  16.081,00
2   A Coruña     2020  15.381,00
3   A Coruña     2019  15.310,00
4   A Coruña     2018  14.635,00

In [13]:
df = prepare_data(life_df, income_df)
df.head()

TypeError: float() argument must be a string or a real number, not 'NAType'

In [11]:
correlation = compute_correlation(df)
print(f"Correlation between income and life expectancy at 65: {correlation:.2f}")

NameError: name 'df' is not defined

In [ ]:
sns.set(style="whitegrid")
plt.figure(figsize=(8, 5))
sns.scatterplot(data=df, x="Income", y="LifeExpectancy")

plt.title("Income vs Life Expectancy at 65")
plt.xlabel("Income")
plt.ylabel("Life Expectancy at 65")
plt.tight_layout()
plt.show()